fp-info-cache
*bak
*cache*
Narrow
sym-lib-table
*~
fp-lib-table
*.bck
*.dcm
*.zip
*.DS_Store
*~
.gitignore-extra
*.svg
8step.diy
8step.pdf
8step_a.diy
8step_a.pdf
8step_strip.diy
8step_strip.pdf
lmnc_8_step_seq/lmnc_8_step_seq.pdf
sequencer wiring.odt
